src/main/mule/number_sequence.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e408994e-faa6-4fd9-8d10-e883cbdfb036" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="number_sequenceFlow" doc:id="550897cf-70c7-472f-9a0d-01096cb8e89c" >
		<http:listener doc:name="Listener" doc:id="ccb0269e-ef02-4d93-9d72-0afdc2de8f3f" config-ref="HTTP_Listener_config" path="/hi"/>
		<set-payload value="#[payload.]" doc:name="Set Payload" doc:id="ddaec282-446f-4bf3-8a16-8e22e50b1209" />
		<ee:transform doc:name="Transform Message" doc:id="7259b25e-1c14-4339-8580-459d448e1863" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4e5692b7-e934-48ee-92f1-3e95bd3044b5" message="#[payload.]"/>
	</flow>
</mule>
